Source: libproxmox-acme
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 10),
Standards-Version: 4.3.0
Homepage: https://www.proxmox.com

Package: libproxmox-acme-perl
Architecture: all
Depends: libpve-common-perl (>= 6~),
         libproxmox-acme-plugins,
         ${perl:Depends},
         ${misc:Depends},
Breaks: libpve-common-perl (<< 6.0-20),
Replaces: libpve-common-perl (<< 6.0-20),
Description: Proxmox ACME integration perl library
 Used in perl-based Proxmox project as common interface for DNS and HTTP ACME
 challenges.

Package: libproxmox-acme-plugins
Architecture: all
Depends: coreutils (>= 8.30-1),
         curl (>= 7.64.0-1),
         sed (>= 4.7-1),
         ${misc:Depends},
Breaks: libproxmox-acme-perl (<< 1.1.0),
Replaces: libproxmox-acme-perl (<< 1.1.0),
Recommends: idn,
Description: Proxmox acme.sh wrapper for DNS API plugins
 Used in Proxmox project to provide DNS API plugins for issuing ACME DNS
 challenges with a small wrapper executable.
